@import "tailwindcss";

@theme {
  --color-primary-green: #004a3c;
  --color-secondary-green: #56d566;
  --font-size-heading: clamp(40px, 7vw, 80px);
}

.body-spacing {
  padding-top: 64px;
  padding-left: 40px;
  padding-right: 40px;
}
.pointer {
  cursor: pointer;
}
.font-size-heading {
  font-size: clamp(40px, 7vw, 80px);
}
.fontPoppins {
  font-family: "Poppins", sans-serif;
}
@media (min-width: 370px) {
  .card {
    width: 9.8rem;
  }
  @media (min-width: 410px) {
    .card {
      width: 11rem;
    }
  }
  @media (min-width: 470px) {
    .card {
      width: 12rem;
    }
  }
  @media (min-width: 510px) {
    .card {
      width: 14rem;
    }
  }
  @media (min-width: 600px) {
    .card {
      width: 16rem;
    }
  }
  @media (min-width: 650px) {
    .card {
      width: 18rem;
    }
  }
  @media (min-width: 700px) {
    .card {
      width: 19.5rem;
    }
  }
  @media (min-width: 800px) {
    .card {
      width: 15rem;
    }
  }
  @media (min-width: 900px) {
    .card {
      width: 17rem;
    }
  }
  @media (min-width: 1040px) {
    .card {
      width: 100%;
    }
  }
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
.font-inter {
  font-family: "Inter", sans-serif;
}
.ourWorkMenuText {
  font-size: clamp(40px, 5vw, 58px);
}
.ourWorkHeadMenu {
  font-size: clamp(16px, 3vw, 24px);
}
.mentoshipIconText {
  font-size: clamp(20px, 3vw, 24px);
}
.min22 {
  font-size: clamp(22px, 3vw, 24px);
}
.logoMainText {
  font-size: clamp(17.28px, 2.3vw, 20.09px);
}
.min16Max20px {
  font-size: clamp(16px, 3vw, 20px);
}
.logoSubText {
  font-size: clamp(7.77px, 1vw, 9.04px);
}
.serviceMenuText {
  font-size: clamp(24px, 5vw, 50px);
}
.ourTermHeadText {
  font-size: clamp(28px, 5vw, 35px);
}
.ourTermHeadSubText {
  font-size: clamp(22px, 5vw, 35px);
}
.ourValueSubText {
  font-size: clamp(17px, 5vw, 58px);
}
@media (min-width: 2000px) {
  body {
    margin-left: auto;
    margin-right: auto;
    max-width: 1800px;
    position: relative;
  }
  .popUpCardWideViewCenter {
    top: 45%;
    max-width: 1800px;
    padding-left: 64px;
    padding-right: 64px;
  }
}
.max40Px {
  font-size: clamp(2.4rem, 4.5vw, 40px);
}
.expereanceText {
  font-size: clamp(40px, 5vw, 58px);
  font-weight: 500;
}
.expereanceTextSubText2 {
  font-size: clamp(20px, 3vw, 24px);
  font-weight: 600;
}
@media (min-width: 640px) {
  .expereanceText {
    font-size: clamp(40px, 7vw, 80px);
    font-weight: 700;
  }
  .expereanceTextSubText {
    font-size: clamp(40px, 7vw, 80px);
  }
  .expereanceTextSubText2 {
    font-size: clamp(40px, 7vw, 80px);
  }
}
.menuText {
  font-size: clamp(30px, 5vw, 34px);
}
.max20px {
  font-size: clamp(18px, 3vw, 20px);
}
.dropDownMenuAnimation {
  position: absolute;
  opacity: 0;
  top: 100%;
  pointer-events: none;
  transition: transform 180ms ease-out;
}
.dropDownMenuAnimation-open {
  position: none;
  opacity: 1;
  transition:
    opacity 180ms ease-in,
    transform 180ms ease-in;
  pointer-events: auto;
}
.paymentCardShadow {
  box-shadow: 4px 4px 4px rgba(168, 168, 168, 0.808);
}
.menuAnimationSlideIn {
  opacity: 0;
  pointer-events: none;
  transform: translateX(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) opacity 250ms;
}
.menuAnimationSlideIn-open {
  opacity: 1;
  pointer-events: auto;
}
.cardPopUpFontSize {
  font-size: clamp(40px, 5vw, 50px);
}
.cardPopUpSubHeadFontSize {
  font-size: clamp(50px, 5vw, 69px);
}
/* Styling for Chrome, Safari, and Edge */
.scroll-container::-webkit-scrollbar {
  width: 20px; /* Increase width to account for the "margin" */
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #d6d3d3;
  /* Create margin effect: top/bottom 4px, left/right 4px */
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-track {
  background: transparent; /* Makes the track invisible */
}
.cardPopUpSubHeadSubFontSize {
  font-size: clamp(30px, 5vw, 30px);
}
@keyframes fade-in {
  to {
    opacity: 1;
  }
}
@keyframes pop-in {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.animate-fade-in {
  opacity: 0;
  background-color: rgba(219, 218, 218, 0.527);
  animation: fade-in 200ms ease-out forwards;
}
.animate-pop-in {
  animation: pop-in 220ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
}
.pointer-none {
  pointer-events: none;
}
@media (min-height: 2300px) {
  .fitPopUpCard {
    height: fit-content;
  }
}
.min40Max60px {
  font-size: clamp(40px, 5vw, 60px);
}
.min16Max24px {
  font-size: clamp(16px, 3vw, 24px);
}
.min24Max30px {
  font-size: clamp(24px, 5vw, 30px);
}
.min24Max35px {
  font-size: clamp(24px, 5vw, 35px);
}
.min24Max58px {
  font-size: clamp(24px, 6vw, 58px);
}
.min20Max46px {
  font-size: clamp(20px, 6vw, 46px);
}
.min20Max24px {
  font-size: clamp(20px, 3vw, 24px);
}
.min16Max30px {
  font-size: clamp(16px, 5vw, 30px);
}
