@import "tailwindcss";

@theme {
  --color-primary-green: #004a3c;
  --color-secondary-green: #56d566;
  --font-size-heading: clamp(40px, 2vw, 80px);
}

.body-spacing {
  padding-top: 64px;
  padding-left: 40px;
  padding-right: 40px;
}
.pointer {
  cursor: pointer;
}
.font-size-heading {
  font-size: clamp(42px, 7vw, 80px);
}
.fontPoppins {
  font-family: "Poppins", sans-serif;
}
@media (min-width: 370px) {
  .card {
    width: 9.8rem;
  }
  @media (min-width: 410px) {
    .card {
      width: 11rem;
    }
  }
  @media (min-width: 470px) {
    .card {
      width: 12rem;
    }
  }
  @media (min-width: 510px) {
    .card {
      width: 14rem;
    }
  }
  @media (min-width: 600px) {
    .card {
      width: 16rem;
    }
  }
  @media (min-width: 650px) {
    .card {
      width: 18rem;
    }
  }
  @media (min-width: 700px) {
    .card {
      width: 19.5rem;
    }
  }
  @media (min-width: 800px) {
    .card {
      width: 15rem;
    }
  }
  @media (min-width: 900px) {
    .card {
      width: 17rem;
    }
  }
  @media (min-width: 1040px) {
    .card {
      width: 100%;
    }
  }
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
.font-inter {
  font-family: "Inter", sans-serif;
}
.ourWorkMenuText {
  font-size: clamp(40px, 5vw, 58px);
}
.ourWorkHeadMenu {
  font-size: clamp(16px, 2.5vw, 24px);
}
.logoMainText {
  font-size: clamp(16px, 2.3vw, 20.09px);
}
.logoSubText {
  font-size: clamp(7px, 1vw, 9.04px);
}
